<template name="Select2">
  <select {{attributes}}>
    {{#if hasPlaceholder}}
      <option></option>
    {{/if}}
    {{#each option in options}}
      <option {{option.atts}}>{{{option.label}}}</option>
    {{/each}}
  </select>
</template>
